body{
font-family: "Helvetica Neue", sans-serif,"Montserrat" ;
}

button {
    margin: auto;
    display: block;
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 600;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}

.btn-outline-light::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

.btn-outline-light:hover {
    color: #e8e8e8;
}

.btn-outline-light:hover::before {
    width: 100%;
}

button {
    font-family: var(--font-family);
    align-items: right;
}

button:active {
    filter: brightness(var(--active-brightness));
}

button:hover {
    cursor: pointer;
    filter: brightness(var(--hover-brightness));
}

a em,
a i {
    border: 2px solid var(--color-link);
    border-radius: var(--border-radius);
    color: var(--color-link);
    display: inline-block;
    padding: 1rem 2rem;
}

.container-fluid {
    width: max-content;
}
#nav{
    background-color: #000;

}
.nav {
    text-align: right;
    text-decoration-color: #aaa;
}

.titulo {
    text-align: center;
}

.btn-outline-light{

}

#socials {
    align-items: right;
}


#month {
        text-align: center;
    }

#newsletter {
    text-align: center;
}

.logo img {
    position: absolute;
    height: 300px;
    width: auto;
    color: #aaa;
    stroke: #999;
    fill: #999;
}

.logo {
    margin: auto;
    display: block;
    margin-bottom: -60px;
    padding-top: 15px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    height: 120px;
}
#navoptions{
    color: #aaa;
    text-decoration-color: #aaa;
    text-align: right;
    margin-right: 10px;
    margin-left: 800px;
}

header nav img {
    margin: 1rem 0;}



.menu-bg .logo {
    padding-top: 10px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    color: #aaa;
    stroke: #999;
    fill: #999;
}

div.form
{
    display: block;
    text-align: center;
}

form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#footer{

    background-color: #000;
}

.navbar {
    position: relative;
    --color: #bbbbbb20;
}

nav ul li {
    display: inline-block;
    margin: 0 0.5rem;
    position:relative;
    text-align: right;
    color: #aaa;
    margin-right: 20px;
}

Nav Dropdown 
nav ul li:hover ul {
    display: block;
}

nav ul li ul {
    background: var(--color-bg);
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow) var(--color-shadow);
    display: none;
    height: auto;
    left: -2px;
    padding: .5rem 1rem;
    position: absolute;
    top: 1.7rem;
    white-space: nowrap;
    width: auto;
    z-index: 1;
    color: #aaa;
}

nav ul li ul::before {
    /* fill gap above to make mousing over them easier */
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -0.5rem;
        height: 0.5rem;
    }

    #donate:disabled,
input:disabled{
    background: var(--color-bg-secondary);
    border-color: var(--color-bg-secondary);
    color: var(--color-text-secondary);
    cursor: not-allowed;
}

#donate[disabled]:hover{
    filter: none;
}

ul a{
color: #aaa;
}

.box {
    display: inline-block;
    background-color: rgb(201, 199, 199);
    border-radius: 20px;
    width: 250px;
    height: 250px;
    padding: 16px;
    margin: 4px;
    align-content: center;
    border-radius: 20px;
}

.box-grid {
    display:flex;
    flex-wrap: no-wrap;
    align-items: flex-start;
    align-items: center;
    padding: 20px;
    text-align: center;


}

/* NO PUEDO HACER QUE ESTA SECCIÓN QUEDE CENTRADA. QUIERO QUE EL TITULO QUEDE EN EL MEDIO Y EL BOTÓN
A LA DERECHA*/
.titulo{
    display: flex;
    justify-content: center;
}

.btn-outline-light{
    justify-content: right;
}

.news{
    display: grid;
    overflow-x: scroll;
    padding: 20px;
    scrollbar-color: black rgb(217, 214, 214);

}

.mammals{
    display: grid;
    overflow-x: scroll;
    padding: 20px;
    scrollbar-color: black rgb(217, 214, 214);
}

.plants {
    display: grid;
    overflow-x: scroll;
    padding: 20px;
    scrollbar-color: black rgb(217, 214, 214);
}

.fungi{
    display: grid;
    overflow-x: scroll;
    padding: 20px;
    scrollbar-color: black rgb(217, 214, 214);
}